{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <style>


    </style>
{% endblock %}
{% block content %}
    <section id="page-title" class="text-light" style="background-image:url('{{ asset('websiteImage/contact.png') }}'); background-size: cover; background-position: center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="page-title">
                <h1>Nous contacter</h1>
                {% if generalS.imageAccueil.texteContact != null or generalS.imageAccueil.texteContact != '' %}<p class="slider-text"> {{ generalS.imageAccueil.texteContact }}</p>{% endif %}

            </div>
        </div>
    </section>

    <section>
        <div class="heading-section text-center">
            <h2 class="heading-text">Nous contacter</h2>
            <p>Laissez-nous vos coordonnées et nous vous contacterons.</p>
        </div>
        <div class="container">
            <form class="widget-contact-form" novalidate="" role="form" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Nom <span class="text-danger">*</span></label>
                        <input type="text" aria-required="true" name="widget-contact-form-name" required="" class="form-control required name" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input type="email" aria-required="true" name="widget-contact-form-email" required="" class="form-control required email" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="subject">Téléphone <span class="text-danger">*</span></label>
                        <input type="tel" name="widget-contact-form-phone" required="" class="form-control required" placeholder="+33...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Votre message <span class="text-danger">*</span></label>
                    <textarea type="text" name="widget-contact-form-message" required="" rows="5" class="form-control required" placeholder=""></textarea>
                </div>
                <span class="text-danger">* Champ Obligatoire</span></label>
                <br>
                <button class="btn btn-success" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Envoyer le message</button>
            </form>
        </div>
    </section>

{% endblock %}
