/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
.realisation-ajax .background-image{
    min-height : 200px;
}

#header{
    line-height: unset;
}

#mainMenu  nav{
    margin-top:20px;
}

.lh-0{
    line-height: 0px;
}
.slider-top {
    top : -20%;
    position : relative;
}
.slider-bottom{
    top : 20%;
    position : relative;

}

.z-index-top{
    z-index: 100;
}
.mfp-container{
    padding : 5%;
}
@media all and (min-width:1350px){


    #logo img{
        max-height: 80px;
        margin-bottom: 0.5rem;
    }

}

@media all and (max-width:1350px){
    #mainMenu ul {
        text-align: center;
    }
    .telephone-button{
        margin-top: 20px;
    }

    #mainMenu nav>ul>li{
        width: 50%;
        margin: 0 auto !important;
    }

    .mobile-action{
        position: absolute;
        top:10px;
    }
    .center-sm,.slider-text{
        text-align: center !important;
    }
    .slider-top,.slider-bottom{
        top : unset !important;
    }
    .sm-relative{
        position: relative;
    }
    .d-sm-none{
        display : none;
    }

}

@media all and (max-width : 350px){
    #header .mobile-action h4{
        display : none;
    }
}
.realisation>.image{
    height: 200px;
}
.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image.contain{
    background-size:contain;
}
#mainMenu .btn{
    height : unset !important;
    border-radius: 10px;
}
.home-image{
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    font-weight: bolder;
    height: 100%;
    border-radius: 15px;

}
.home-image>h2{
    font-weight: 800;
}
.realisation>.text{
    padding-top: 15px;
}
.realisation>.text>h3{
    font-weight: 800;
    letter-spacing: -0.55px;
}
.confiance .grid-3-columns .grid-item,.confiance .post-3-columns .post-item,.confiance .portfolio-3-columns .portfolio-item {
    width: 100%;
}
.testimonial-item>p{
    max-width: 500px ;
    margin:  0 auto;
}
.row.reverse{
    flex-direction: row-reverse;
}

.grid li{
    padding: 0;
}
.portfolio-item, .grid-item {
    padding: 0;
}

.grid-image>div{
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
#prestation .grid-image>div{
    background-size: cover;
}
#prestation .grid-image:after{
    border-radius: 15px;
}
#mainMenu.menu-creative nav > ul > li > a::after{
    background-color: #d81d31 !important;
}