/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

#logo img{
    max-height: 65px;
}

.realisation>.image{
    height: 200px;
}
.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-image{
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    font-weight: bolder;
    height: 100%;
    border-radius: 15px;

}
.home-image>h2{
    font-weight: 800;
}
.realisation>.text{
    padding-top: 15px;
}
.realisation>.text>h3{
    font-weight: 800;
    letter-spacing: -0.55px;
}
.confiance .grid-3-columns .grid-item,.confiance .post-3-columns .post-item,.confiance .portfolio-3-columns .portfolio-item {
    width: 100%;
}
.testimonial-item>p{
    max-width: 500px ;
    margin:  0 auto;
}
.row.reverse{
    flex-direction: row-reverse;
}

.grid li{
    padding: 0;
}
.portfolio-item, .grid-item {
    padding: 0;
}

.grid-image>div{
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
#prestation .grid-image>div{
    background-size: cover;
}
#prestation .grid-image:after{
    border-radius: 15px;
}