{% extends("@EasyAdmin/page/content.html.twig") %}

{% block main %}
<div class="content-panel">
    <div class="container pt-4 pb-4">
        <h2> Manuel D'utilisation </h2>
        <p>Cet accueil listera toutes les actions possibles afin de personnaliser votre site web. </p>
    </div>

    <h3> Les différents backlink de dashboard</h3>
    <ul>
        <li> BSBRoyal : <a href="https://bsbroyalconstruction.fr/admin"> Voir le lien </a> / MDP : sBeAmrTPtT6sEVzy</li>
        <li> Ecobati : <a href="https://ecobati.spidertec.fr/admin"> Voir le lien </a> / MDP : +NW3-T3qzhp%K</li>
        <li> Efebat : <a href="https://efebat.spidertec.fr/admin"> Voir le lien </a> / MDP : _pTudHY)VC5e3</li>
        <li> LesFacadesVertes : <a href="https://lesfacadesvertes.spidertec.fr/admin"> Voir le lien </a> / MDP : 9WQB8f8&Zu2ee</li>
        <li> Mimhabitat : <a href="https://mimhabitat.spidertec.fr/admin"> Voir le lien </a> / MDP : Tu3eR}{EzC~pj</li>
        <li> ParisConstructions : <a href="https://parisconstructions.spidertec.fr/admin"> Voir le lien </a> / MDP : BYvryk8?H^!De</li>
    </ul>
</div>
{% endblock %}