{% extends("@EasyAdmin/page/content.html.twig") %}

{% block main %}
<div class="content-panel">
    <div class="container pt-4 pb-4">
        <h2> Manuel D'utilisation </h2>
        <p>Cet accueil listera toutes les actions possibles afin de personnaliser votre site web. </p>
    </div>

</div>
{% endblock %}